.block {
    background: azure;

    &__header {
        color: #27aedb;
        text-align: center;
    }

    &_dark {
        background: #fff;
        color: #000;
    }

    &_light {
        background: gainsboro;
    }
}

